$material-dark: (
        'background': #303030,
        'surface': #303030,
        'cards': #424242,
        'dividers': hsla(0, 0%, 100%, .12)
);

$material-light: (
        'cards': #F5F5F5
);

$expansion-panel-content-padding: (0 0 12px 12px);

$data-table-border-radius: (0);
